[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[packages]
django = "*"
django-lb-workflow = {git = "https://github.com/vicalloy/django-lb-workflow.git", extras=["options"]}

[dev-packages]
coverage = "*"
flake8 = "==3.7.9"
isort = "*"
pre-commit = "*"
